<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>To-Do</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <h1> To-Do lists </h1>

		<form method="POST">
		<input id='new_item' name= "item_text" placeholder='Add a task'></input>
			{% csrf_token %}
		</form>

		<ol id="list_general">
				<li> {{ list_item }} </li>
		</ol>


    </body>
</html>